.App {
    text-align: center;
    margin: 0;
}

#pink {
    color: pink;
}

/*NavHeader */
.header {
    background-image: linear-gradient(to bottom, orange, white);
    padding-top: 1.5%;
    padding-bottom: 1%;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.head-wrapper {
    display: flex;
}

.outer-div {
    flex: 1;
    display: flex;
}

.outer-div > .logo {
    object-fit: contain;
    width: 10vh;
}

.inner-div {
    flex: 2;
}

h1 {
    display: inline-block;
    margin-top: 0;
    padding: 0.5%;
    padding-top: 1.5%;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0.7%;
    padding-bottom: 1.5%;
}

.nav-elem {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 1vh 3vh;
}

.nav-elem:hover,
.nav-elem:active,
.nav-elem:focus {
    text-decoration: underline;
}

.nav-elem.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0; /* Reset margin to prevent spacing issues */
    padding: 0;
    display: none;
    list-style: none;
    background-color: white;
    border: 1px solid black;
}

.nav-elem.dropdown:hover .dropdown-menu {
    display: block;
  }

.subnav-elem{
    color: black;
}

/*Footer*/
.footer {
    min-height: 5vh;
    background-image: linear-gradient(to bottom, white, orange);
    padding-top: 1.5%;
}

/*Startseite*/
.vereins-banner {
    width: 45vw;
    
}

/*Sportangebote*/
.angebot-titel {
    font-weight: bold;
}

ul {
    list-style: none;
    margin-left: 0;
}

li {
    margin: 15px;
}

.green {
    color: rgb(25, 167, 25);
    font-weight: bolder;
}

.red {
    color: red;
}

/*Kontakt*/
.kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 40%;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
}

label {
    flex: 1;
}

input,
textarea,
button {
    padding: 1%;
}

input {
    flex: 2;
}

textarea {
    flex: 2;
    height: 20vh;
}

.button-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.absenden-btn {
    
}

/*Ueber Uns : Historisches*/
.container {
    min-height: 73vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.historien-artikel,
.news-artikel,
.ehrungen-artikel,
.rueckschau-artikel,
.allianz-artikel,
.info
 {
    max-width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artikel-text{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    min-width: 0;
}

.img-container img {
    width: 50%; 
    height: auto;
    /* margin: 5px; */
}